<configuration>
	<property resource="application.properties" />
    <appender name="STASH-C" class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
        <destination>${spring.logstashHost}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        	<customFields>{"loglevel":"level"}</customFields>
        </encoder>
        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender>
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
      by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="INFO" />
  <logger name="com.multiplan" level="DEBUG" />
  <logger name="org.hibernate" level="INFO" />

  <root level="INFO">
    <appender-ref ref="STASH-C" />
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>